@font-face {
  font-family: "Proxima Nova";
  src: url("ProximaNova-Regular.otf") format("otf"),
    url("ProximaNova-Regular.woff2") format("woff2"),
    url("ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
